.contact__wrapper {
  margin-bottom: 100px;
}

.contact__title {
  margin: 0;
  margin-bottom: 40px;
  color: var(--primary);
  text-align: center;
}

.contact__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact__form-text,
.contact__form-email,
.contact__form-textarea {
  padding: 10px 6px;
  background-color: var(--light-black);
  color: var(--gray);
  border-radius: 20px;
  border: 2px solid var(--purple);
}

.contact__form-btn {
  justify-self: end;
}

@media (min-width: 650px) {
  .contact__form-textarea {
    grid-row: 1 / 4;
  }

  .contact__form-text {
    grid-column: 2 / 3;
  }
  .contact__form-email {
    grid-column: 2 / 3;
  }

  .contact__form-btn {
    grid-column: 2 / 3;
  }
}

@media (max-width: 649px) {
  .contact__form {
    grid-template-columns: 1fr;
  }
}
